[Unit]
Description=RCKId window
Before=sysinit.target
After=local-fs.target
Wants=ili9341.service
DefaultDependencies=no

[Service]
Type=simple
User=pi
Group=pi
ExecStart=/home/pi/rckid/build/rckid/rpi/rckid
WorkingDirectory=/home/pi/rckid
#Restart=on-failure
RestartSec=1
KillMode=process

[Install]
WantedBy=sysinit.target